.Contact-pic
{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/contactpic.jpg');
    color: white;
}
.caption-col{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 60px;
}