carousel-caption {
    top:0 ;
    
}


.coverImage {
    height: 650px;
    width: 110%;
    
}
  

.caption-text {
   font-size : 100px;
   color:white;
   
}
.caption-col {
    font-size: 20px;
    color:white;
    text-decoration: none;
    transition: 0.6s ease;
    border: 1px solid white;
    display: inline-block;
    border: none;
    padding: 7px;
    padding-bottom: 7px;
    margin-left: 25px;
    

    
}
.caption-col:hover{
    background-color:rgb(156, 84, 2);
    color:black;
    
    

}
.jumbotron {
    margin-top: 0em;
    margin-bottom: 0em;

}