.carousel-caption {
    top:150px ;
    
}

.coverImage {
    height: 710px;
    width: 110%;
}
  
.caption-text {
   font-size : 100px;
   color:white; 
}

.caption-col {
    font-size: 20px;
    color:white;
    text-decoration: none;
    transition: 0.6s ease;
    border: 1px solid white;
    display: inline-block;
    border: none;
    padding: 10px;
    padding-bottom: 7px;
    margin-left: 45px;
}

.caption-col:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}

.jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;

}